@model IEnumerable<User>
<div class="container">
    <div class="row">
        <div class="col-md-7  col-md-offset-2">
            <h1 class="table-bordered text-center bg-success">All the User Details...!</h1>
            <table class="table-bordered col-md-offset-2">
                <thead >
                    <tr>
                        <td>Id</td>
                        <td>UserName</td>
                        <td>UserEmail</td>
                        <td>Options...</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach ( var user in Model)
                    {
                        <tr>
                            <td>@user.ID</td>
                            <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>
                                <a class="btn  btn-warning m-1" asp-action="Details" asp-route-id="@user.ID">Details</a>
                                <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@user.ID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="col-md-offset-5 col-2 ">
                <a asp-action="Create" class=" btn btn-success  m-2" >Add</a>
            </div>
        </div>
        </div>
</div>